<template>
  <div class="container agent-tile" id="contact-agent">
    <div class="col-sm-3 tile-title">
      Contact
    </div>
    <div class="col-sm-6">
      <div v-if="mode=='form'">
        <div class="form-group">
          <label for="input-contact-us-email" class="control-label">Email address</label>
          <div v-bind:class="{ 'has-error': errors['email-address'] }">
            <input type="text" class="form-control" id="input-contact-us-email" placeholder="myaddress@domain.com"
              name="email" v-model="senderEmailAddress">
            <span v-if="errors['email-address']" class="help-block">
            {{ errors['email-address'] }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="input-contact-us-title" class="control-label">Title</label>
          <div v-bind:class="{ 'has-error': errors['message-title'] }">
            <input type="text" class="form-control" id="input-contact-us-title" placeholder="Title"
              name="title" v-model="messageTitle">
            <span v-if="errors['message-title']" class="help-block">
            {{ errors['message-title'] }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="input-contact-us-message" class="control-label">Message</label>
          <div v-bind:class="{ 'has-error': errors['message-body'] }">
            <textarea class="form-control" rows="10" id="input-contact-us-message" placeholder="Message"
              name="message" v-model="messageBody"></textarea>
            <span v-if="errors['message-body']" class="help-block">
            {{ errors['message-body'] }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="button-primary" v-on:click="sendEmail">Send</button>
        </div>
      </div>
      <div v-if="mode=='email-sent'">Your message has successfully been sent.</div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { captureException } from '~/plugins/error-logger';

export default {
  // Props
  props: ['auth0UserId'],

  // Data
  data: function() {
    return {
      errors: {
        'email-address': undefined,
        'message-title': undefined,
        'message-body': undefined
      },
      senderEmailAddress: undefined,
      messageBody: "Hi,\r\n\r\nI am looking for a real estate agent and found your profile on ZenEstate. " +
        "Do you have time to discuss about properties in Singapore?\r\n\r\n" +
        "Thanks,\r\nA property owner/seeker",
      messageTitle: "Looking for a real estate agent",
      mode: 'form'
    }
  },

  // Methods
  methods: {
    // Validate the email input fields
    validateEmailInput: function() {
      // Validate the email address
      this.errors['email-address'] = (undefined === this.senderEmailAddress)
        ? "The email address must be defined."
        : undefined;

      // Validate the title
      this.errors['message-title'] = (undefined === this.messageTitle)
        ? "The title must be defined."
        : undefined;

      // Validate the message
      this.errors['message-body'] = (undefined === this.messageBody)
        ? "The message must be defined."
        : undefined;

      // Return true if all the input fields are valid
      return ((this.errors['email-address'] === undefined) && (this.errors['message-title'] === undefined) &&
        (this.errors['message-body'] === undefined))
    },

    // Send the email
    sendEmail: function() {
      // Validate the email input fields
      if (!this.validateEmailInput())
        return;

      // Initialize the input data
      var inputData = {
        'sender-email-address': this.senderEmailAddress,
        'auth0-user-id': this.auth0UserId,
        title: this.messageTitle,
        message: this.messageBody
      };

      // Send the email
      axios.post('https://fkfm91ymsi.execute-api.us-west-2.amazonaws.com/Production/contactAgent', inputData)
        .then(function(postResponse) {})
        .catch(function(postError) {
          captureException(postError);
        });

      // Change the mode
      this.mode = 'email-sent';
    }
  }
}
</script>
