<template>
  <div class="container agent-tile">
    <div v-if="mode=='view' || mode=='read-only'" class="col-sm-3 tile-title">
      Languages
    </div>
    <div v-if="mode=='view' || mode=='read-only'" class="col-sm-6 col-xs-11">
      <p>
        {{ agentLanguageNames }}
      </p>
    </div>
    <div v-if="mode=='view'" class="col-xs-1 col-sm-offset-2 no-padding">
      <div class="edit-button">
        <button class="button-default" v-on:click="editAgentLanguages">Edit</button>
      </div>
    </div>
    <div v-if="mode=='edit-agent-language'" class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <label class="control-label">National languages</label>
        <div class="checkbox">
          <label>
          <input type="checkbox" id="input-language-english" value="English"
            v-model="inputNationalLanguageNames">
          English
          </label>
        </div>
        <div class="checkbox">
          <label>
          <input type="checkbox" id="input-agent-language-malay" value="Malay"
            v-model="inputNationalLanguageNames">
          Malay
          </label>
        </div>
        <div class="checkbox">
          <label>
          <input type="checkbox" id="input-agent-language-mandarin" value="Mandarin"
            v-model="inputNationalLanguageNames">
          Mandarin
          </label>
        </div>
        <div class="checkbox">
          <label>
          <input type="checkbox" id="input-agent-language-tamil" value="Tamil"
            v-model="inputNationalLanguageNames">
          Tamil
          </label>
        </div>
      </div>
      <div>
        <label class="control-label">Other languages</label>
        <div class="row form-group" v-for="(inputAgentOtherLanguage, index) in inputAgentOtherLanguages">
          <div class="col-xs-11">{{ inputAgentOtherLanguage['name'] }}</div>
          <div class="col-xs-1">
            <span class="fa fa-times-circle" aria-hidden="true" 
              v-on:click="deleteAgentOtherLanguage(index)"></span>
          </div>
        </div>
        <div class="row form-group" v-for="(newAgentLanguage, index) in newAgentLanguages">
          <div class="col-xs-11">
            <span role="button" class="left-sign" v-on:click="addNewAgentLanguage">+</span>
            <autocomplete-view v-bind:options="otherLanguages" placeholderValue="Add language"
              v-bind:selectedValue="newAgentLanguage['name']" 
              v-on:updateIndex="updateNewAgentLanguage(index, $event)">
            </autocomplete-view>
          </div>
          <div v-if="newAgentLanguages.length >= 2" class="col-xs-1">
            <span class="fa fa-times-circle" aria-hidden="true" 
              v-on:click="deleteNewAgentLanguage(index)"></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="button-primary" v-on:click="saveAgentLanguages">Save</button>
        <button type="button" class="button-default" v-on:click="cancelEdition">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
import AutocompleteView from '~/components/AutocompleteView';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Components
  components: {
    AutocompleteView
  },

  // Props
  props: ['username', 'auth0UserId', 'isReadOnly'],

  // Data
  data: function() {
    return {
      agentLanguages: undefined,
      axiosAirlisting: getAxiosAirlisting(this.$router),
      inputAgentOtherLanguages: [],
      inputAgentNationalLanguages: [],
      inputNationalLanguageNames: [],
      newAgentLanguages: [{
        username: this.username,
        'auth0-user-id': this.auth0UserId
      }],
      mode: this.isReadOnly ? 'read-only' : 'view',
      otherLanguages: [
        "Arabic", "Bengali", "Cantonese", "Dutch", "French", "German", "Hindi", "Italian", "Japanese",
        "Javanese", "Korean", "Persian", "Polish", "Portuguese", "Punjabi", "Russian", "Spanish", "Swahili",
        "Turkish", "Vietnamese"
      ]
    };
  },

  // Computed data
  computed: {
    // Return the agent language names
    agentLanguageNames: function() {
      // Check that the languages have been defined
      if (undefined === this.agentLanguages)
        return "";

      // Initialize the national languages
      var languageNames = [];
      this.agentLanguages.forEach(function(agentLanguage) {
        if (agentLanguage['speaks-english'])
          languageNames.push('English');
        if (agentLanguage['speaks-malay'])
          languageNames.push('Malay');
        if (agentLanguage['speaks-mandarin'])
          languageNames.push('Mandarin');
        if (agentLanguage['speaks-tamil'])
          languageNames.push('Tamil');
      });

      // Add the other languages
      this.agentLanguages.forEach(function(agentLanguage) {
        if ((null !== agentLanguage['name']) && (undefined !== agentLanguage['name']))
          languageNames.push(agentLanguage['name']);
      });

      // Check that there is at least one language
      if (0 === languageNames.length)
        return "No language specified";

      // Return the languages
      return languageNames.join(', ');
    }
  },

  // Watch
  watch: {
    // Update the agent language
    'auth0UserId': function(value) {
      this.retrieveAgentLanguages();
    }
  },

  // Retrieve the data
  created: function() {
    // Retrieve the data
    this.retrieveAgentLanguages();
  },

  // Methods
  methods: {
    // Retrieves the languages of the agent
    retrieveAgentLanguages: function() {
      // Check that the Auth0 user id has been defined
      if (undefined === this.auth0UserId)
        return;

      // Retrieve the languages
      var self = this;
      this.axiosAirlisting.get('/agentLanguage?auth0UserId=' + encodeURIComponent(this.auth0UserId))
        .then(function(response) {
          self.agentLanguages = response.data;
        })
        .catch(function(error) {
          // Add the English language if no language exists
          if ((undefined !== error.response) && (404 === error.response.status)) {
            // Add the English language if no language exists
            var englishLanguage = {
              name: "English",
              username: self.username,
              'auth0-user-id': self.auth0UserId
            };
            self.agentLanguages = [englishLanguage];

            // Save the English language if the mode is not read-only
            if (!self.isReadOnly)
              self.axiosAirlisting.post('/agentLanguage', englishLanguage)
                .then(function(postResponse) {
                  self.agentLanguages[0] = postResponse.data;
                })
                .catch(function(postError) {
                  captureException(postError);
                });
          // Otherwise, log the error
          } else
            captureException(error);
        });
    },

    // Edit the agent languages
    editAgentLanguages: function() {
      // Verify that the languages have been downloaded
      if (undefined === this.agentLanguages)
        return;

      // Copy the languages
      this.inputAgentNationalLanguages = [];
      this.inputAgentOtherLanguages = [];
      this.inputNationalLanguageNames = [];
      var inputAgentLanguages = this.agentLanguages.slice();
      this.newAgentLanguages = [{
        username: this.username,
        'auth0-user-id': this.auth0UserId
      }];

      // Convert the old format languages to new format languages
      for (var i = inputAgentLanguages.length - 1; i >= 0; i--) {
        // Add English language
        if (inputAgentLanguages[i]['speaks-english'])
          inputAgentLanguages.push({
            name: "English",
            username: this.username,
            'auth0-user-id': this.auth0UserId
          });

        // Add Malay language
        if (inputAgentLanguages[i]['speaks-malay'])
          inputAgentLanguages.push({
            name: "Malay",
            username: this.username,
            'auth0-user-id': this.auth0UserId
          });

        // Add Mandarin language
        if (inputAgentLanguages[i]['speaks-mandarin'])
          inputAgentLanguages.push({
            name: "Mandarin",
            username: this.username,
            'auth0-user-id': this.auth0UserId
          });

        // Add Tamil language
        if (inputAgentLanguages[i]['speaks-tamil'])
          inputAgentLanguages.push({
            name: "Tamil",
            username: this.username,
            'auth0-user-id': this.auth0UserId
          });

        // Remove the old format language
        if ((null === inputAgentLanguages[i]['name']) || (undefined === inputAgentLanguages[i]['name']))
          inputAgentLanguages.splice(i, 1);
      }

      // Split the national and other languages
      var self = this;
      var nationalLanguageNames = ['English', 'Mandarin', 'Tamil', 'Malay'];
      inputAgentLanguages.forEach(function(inputAgentLanguage) {
        if (-1 !== nationalLanguageNames.indexOf(inputAgentLanguage['name'])) {
          self.inputAgentNationalLanguages.push(inputAgentLanguage);
          self.inputNationalLanguageNames.push(inputAgentLanguage['name'])
        } else
          self.inputAgentOtherLanguages.push(inputAgentLanguage);
      });

      // Update the mode to 'edit'
      this.mode = 'edit-agent-language';
    },

    // Save the agent languages
    saveAgentLanguages: function() {
      // Initialize the list of selected languages with the other languages
      var inputAgentLanguages = [];
      this.inputAgentOtherLanguages.forEach(function(inputAgentOtherLanguage) {
        inputAgentLanguages.push(inputAgentOtherLanguage);
      });

      // Initialize the national language map
      var inputAgentNationalLanguageNameMap = {};
      for (var i = 0; i < this.inputAgentNationalLanguages.length; i++) {
        var languageName = this.inputAgentNationalLanguages[i]['name'];
        if (undefined !== languageName)
          inputAgentNationalLanguageNameMap[languageName] = this.inputAgentNationalLanguages[i];
      }

      // Retrieve the national languages
      var self = this;
      var nationalLanguageNames = ['English', 'Mandarin', 'Malay', 'Tamil'];
      var deletedAgentNationalLanguageIds = [];
      nationalLanguageNames.forEach(function(nationalLanguageName) {
        var isSelected = (-1 !== self.inputNationalLanguageNames.indexOf(nationalLanguageName));
        var agentNationalLanguage = inputAgentNationalLanguageNameMap[nationalLanguageName];
        if (isSelected) {
          if (undefined === agentNationalLanguage) {
            self.inputAgentNationalLanguages.push({
              name: nationalLanguageName,
              username: self.username,
              'auth0-user-id': self.auth0UserId
            });
          }
        } else if (undefined !== agentNationalLanguage)
          deletedAgentNationalLanguageIds.push(agentNationalLanguage['id']);
      });

      // Remove the deleted national languages
      for (var j = this.inputAgentNationalLanguages.length - 1; j >= 0; j--) {
        var id = this.inputAgentNationalLanguages[j]['id'];
        if (-1 !== deletedAgentNationalLanguageIds.indexOf(id))
          this.inputAgentNationalLanguages.splice(j, 1);
      }

      // Add the national languages to the array
      this.inputAgentNationalLanguages.forEach(function(inputAgentNationalLanguage) {
        inputAgentLanguages.push(inputAgentNationalLanguage);
      });

      // Add the new agent languages to the array
      this.newAgentLanguages.forEach(function(newAgentLanguage) {
        if ((undefined !== newAgentLanguage['name']) && ('' !== newAgentLanguage['name']))
          inputAgentLanguages.push(newAgentLanguage);
      });

      // Find the new agent languages
      var inputAgentLanguageIdMap = {};
      var newAgentLanguageIndexes = [];
      for (var k = 0; k < inputAgentLanguages.length; k++) {
        // Add the new agent languages if they have not been created
        if (!('id' in inputAgentLanguages[k]))
          newAgentLanguageIndexes.push(k);
        // Otherwise, add the id to the map
        else
          inputAgentLanguageIdMap[inputAgentLanguages[k]['id']] = true;
      }

      // Add the new agent languages
      if (0 < newAgentLanguageIndexes.length) {
        newAgentLanguageIndexes.forEach(function(index) {
          self.axiosAirlisting.post('/agentLanguage', inputAgentLanguages[index])
            .then(function(postResponse) {
              inputAgentLanguages[index] = postResponse.data;
            })
            .catch(function(postError) {
              captureException(postError);
            });
        });
      }

      // Delete the old agent languages
      for (var l = 0; l < this.agentLanguages.length; l++) {
        if (!(this.agentLanguages[l].id in inputAgentLanguageIdMap))
          this.axiosAirlisting.delete('/agentLanguage/' + this.agentLanguages[l].id)
            .then(function(deleteResponse) {})
            .catch(function(deleteError) {
              if ((undefined === deleteError.response) || (404 !== deleteError.response.status))
                captureException(deleteError);
            });
      }

      // Update the agent languages
      this.agentLanguages = inputAgentLanguages;
      this.mode = 'view';
    },

    // Add an agent language
    addNewAgentLanguage: function() {
      this.newAgentLanguages.push({
        username: this.username,
        'auth0-user-id': this.auth0UserId
      });
    },

    // Update the agent language
    updateNewAgentLanguage: function(newAgentLanguageIndex, otherLanguageIndex) {
      this.newAgentLanguages[newAgentLanguageIndex]['name'] = this.otherLanguages[otherLanguageIndex];
      this.newAgentLanguages = this.newAgentLanguages.slice();
    },

    // Delete an agent language
    deleteNewAgentLanguage: function(languageIndex) {
      this.newAgentLanguages.splice(languageIndex, 1);
    },

    // Delete an agent language
    deleteAgentOtherLanguage: function(languageIndex) {
      this.inputAgentOtherLanguages.splice(languageIndex, 1);
    },

    // Cancel the edition
    cancelEdition: function() {
      this.mode = 'view';
    }
  }
}
</script>