<template>
    <div class="header-navigation-bar">
      <navigation-bar-content-view v-bind:isTextWhite="false" />
    </div>
</template>

<script>
import NavigationBarContentView from '~/components/NavigationBarContentView.vue';

export default {
  // Components
  components: {
    NavigationBarContentView
  }
}
</script>
