<template>
  <div class="container agent-search-request">
    <div class="col-sm-offset-3 col-sm-6 white-background"> 
      <div v-if="mode=='form'" class="request-form">
        <div v-if="hasNoAgentFound" class="request-description">
          <legend>No agents found</legend>
          <p>
            We could not find any agents matching your criteria but if you leave us your contact details, we will manually
            find for an agent for you with good reviews and contact you when we find one. This service is entirely free.
          </p>
        </div>
        <div v-else class="request-description">
          <legend>Do you need help to find a property agent?</legend>
          <p>
            If you tell us about the property you are trying to buy, sell or rent and leave us your contact details,
            we will manually find for an agent for you with good reviews and contact you when we find one.
          </p>
        </div>
        <legend>Agent search request</legend>
        <div class="form-group">
          <label for="input-email-address" class="control-label">Email address</label>
          <div v-bind:class="{ 'has-error': errors['customer-email-address'] }">
            <input type="text" class="form-control" id="input-email-address" placeholder="myaddress@domain.com"
              name="customer-email-address" v-model="agentSearchRequest['customer-email-address']">
            <span v-if="errors['customer-email-address']" class="help-block">
            {{ errors['customer-email-address'] }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="input-name" class="control-label">Name</label>
          <div v-bind:class="{ 'has-error': errors['customer-name'] }">
            <input type="text" class="form-control" id="input-name" placeholder="Title"
              name="customer-name" v-model="agentSearchRequest['customer-name']">
            <span v-if="errors['customer-name']" class="help-block">
            {{ errors['customer-name'] }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="input-search-request" class="control-label">Request</label>
          <div v-bind:class="{ 'has-error': errors['search-description'] }">
            <textarea class="form-control" rows="10" id="input-contact-us-message" 
              placeholder="Tell us about the property you want to buy, sell or rent!" name="search-description" 
              v-model="agentSearchRequest['search-description']"></textarea>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="button-primary" v-on:click="sendRequest">Send request</button>
        </div>
      </div>
      <div v-if="mode=='request-sent'" class="request-sent-message">
        Your request has successfully been sent. You can click 
            <router-link to="/">here</router-link> to go back to the home page.
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Props
  props: {
    'hasNoAgentFound': {
      type: Boolean
    },
    'serviceType': {
      type: Number
    },
    'propertyType': {
      type: Number
    },
    'region': {
      type: String
    },
    'priceLowerRange': {
      type: Number
    },
    'maximumTimeToTransact': {
      type: Number
    }
  },

  // Data
  data: function() {
    return {
      agentSearchRequest: {
        "service-type": this.serviceType,
        "property-type": this.propertyType,
        "property-region": this.region,
        "price-lower-range": this.priceLowerRange,
        "maximum-time-to-transact": this.maximumTimeToTransact,
        "customer-email-address": undefined,
        "customer-name": undefined,
        "search-description": undefined
      },
      axiosAirlisting: getAxiosAirlisting(this.$router),
      errors: {
        "customer-email-address": undefined,
        "customer-name": undefined
      },
      mode: 'form'
    }
  },

  // Methods
  methods: {
    // Send the request
    sendRequest: function() {
      // Validate the input
      if (!this.validateInput())
        return false;

      // Save the agent request
      var self = this;
      this.axiosAirlisting.post('/agentSearchRequest', this.agentSearchRequest)
        .then(function(postResponse) {
          self.agentSearchRequest = postResponse.data;
        })
        .catch(function(postError) {
          captureException(postError);
        });

      // Initialize the email data
      var emailData = {
        email: this.agentSearchRequest['customer-email-address'],
        title: "Agent search request",
        message: JSON.stringify(this.agentSearchRequest, null, 2)
      };

      // Send the email
      axios.post('https://fkfm91ymsi.execute-api.us-west-2.amazonaws.com/Production/contactUs', emailData)
        .catch(function (postError) {
          captureException(postError);
        });

      // Update the mode
      this.mode = 'request-sent';
    },

    // Validate the input
    validateInput: function() {
      // Validate the email address
      console.log(this.agentSearchRequest);
      this.errors['customer-email-address'] = (undefined === this.agentSearchRequest['customer-email-address'])
        ? "Please enter your email address."
        : undefined;

      // Validate the customer name
      this.errors['customer-name'] = (undefined === this.agentSearchRequest['customer-name'])
        ? "Please enter your name."
        : undefined;

      // Return true if the email address and the name have been defined
      return ((undefined === this.errors['customer-email-address']) &&
        (undefined === this.errors['customer-name']));
    }
  }
}
</script>

