<template>
  <div>
    <!-- navigation-bar-view -->
    <navigation-bar-view />
    <!-- navigation-bar-view -->
    <!-- review-introduction -->
    <div v-if="agent" class="review review-introduction">
      <div class="container">
        <div class="col-sm-3">
          <add-review-left-bar-view v-bind:username="username" v-bind:firstName="agent['first-name']"
            v-bind:pictureUrl="agent['picture-url']">
          </add-review-left-bar-view>
        </div>
        <div class="col-sm-6 review-explanations">
          <p>
            {{ agent['first-name'] }} invited you to review the real estate agent services she provided you. 
            Your review will be public and will appear on {{ agent['first-name'] }}’s profile. It will other 
            home seekers and home owners decide whether they want to hire {{ agent['first-name'] }} for 
            real estate agent services.
          </p>
          <p>
            The review should take less than 10 minutes. We will first ask you about your property 
            transaction then will ask you a few questions about {{ agent['first-name'] }}’s services.
            Please click on the button below when you are ready.
          </p>
          <div class="form-group" v-bind:class="{ 'has-error': errors['terms'] }">
            <input type="checkbox" name="termsofuse" v-model="areTermsAccepted"> I agree to the
            <a href='/terms.html'>terms of use</a> and <a href='/privacy.html'>privacy policy</a>.
            <span v-if="errors['terms']" class="help-block">
            {{ errors['terms'] }}
            </span>
          </div>
          <div class="form-group">
            <button type="submit" class="button-primary" v-bind:disabled="!areTermsAccepted" 
              v-on:click="startReview">Write a review</button>
          </div>
        </div>
      </div>
    </div>
    <!-- review-introduction -->
    <!-- footer-view -->
    <footer-view />
    <!-- footer-view -->
  </div>
</template>

<script>
import AddReviewLeftBarView from '~/components/agent/review/AddReviewLeftBarView.vue';
import FooterView from '~/components/FooterView.vue';
import NavigationBarView from '~/components/NavigationBarView.vue';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Components
  components: {
    AddReviewLeftBarView,
    FooterView,
    NavigationBarView
  },

  // Data
  data: function() {
    return {
      agent: undefined,
      areTermsAccepted: false,
      axiosAirlisting: getAxiosAirlisting(this.$router),
      errors: {},
      secret: this.$route.query.hash,
      username: this.$route.params.username.replace('-', '_')
    }
  },

  // Retrieve the agent
  created: function() {
    // Retrieve the agent
    this.retrieveAgent();
  },

  // Methods
  methods: {
    // Retrieve the agent
    retrieveAgent: function() {
      // Retrieve the agent
      var self = this;
      this.axiosAirlisting.get('/agent?username=' + this.username.replace('_', '-'))
        .then(function(response) {
          self.agent = response.data[0];
        })
        .catch(function(error) {
          captureException(error);
        });
    },

    // Start the review
    startReview: function() {
      // Validate the terms checkbox
      this.errors = {};
      if (!this.areTermsAccepted) {
        this.errors['terms'] = 'Please review the Terms of Use and Privacy Policy.'
        return;
      }

      // Go to reviewer profile page
      var addReviewProfilePagePath = '/a/' + this.username.replace('_', '-') + '/addReview/profile';
      this.$router.push({
        path: addReviewProfilePagePath,
        query: {
          hash: this.secret
        }
      });
    }
  }
}
</script>