<template>
  <div>
    <!-- navigation-bar-view -->
    <navigation-bar-view />
    <!-- navigation-bar-view -->
    <!-- review-profile -->
    <div v-if="agent" class="review review-profile">
      <div class="container">
        <div class="col-sm-3">
          <add-review-left-bar-view v-bind:username="username" v-bind:firstName="agent['first-name']"
            v-bind:pictureUrl="agent['picture-url']">
          </add-review-left-bar-view>
        </div>
        <div class="col-sm-6">
          <fieldset>
            <legend>Profile</legend>
            <div class="form-group" 
              v-bind:class="{ 'has-error': agentReviewErrors['reviewer-email-address'] }">
              <label for="input-client-email-address" class="control-label">Email address 
              (private, for us to contact you)</label>
              <input type="text" class="form-control" id="input-client-email-address" 
                placeholder="name@domain.com" name="email-address" 
                v-model="agentReview['reviewer-email-address']">
              <span v-if="agentReviewErrors['reviewer-email-address']" class="help-block">
              {{ agentReviewErrors['reviewer-email-address'] }}
              </span>
            </div>
            <div class="form-group"
              v-bind:class="{ 'has-error': agentReviewErrors['reviewer-first-name'] }">
              <label for="input-client-first-name" class="control-label">First name</label>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="input-client-first-name" 
                    placeholder="First Name" name="first-name"
                    v-model="agentReview['reviewer-first-name']">
                </div>
              </div>
              <span v-if="agentReviewErrors['reviewer-first-name']" class="help-block">
              {{ agentReviewErrors['reviewer-first-name'] }}
              </span>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <label for="input-agent-picture" class="control-label">Picture</label>
                <input type="file" id="input-agent-picture-file" name="picture-file"
                  v-on:change="onProfilePictureChange">
                <div v-if="agentReviewErrors['reviewer-picture-url']" class="has-error">
                  <span class="help-block">
                  {{ agentReviewErrors['reviewer-picture-url'] }}
                  </span>
                </div>
              </div>
              <div class="profile-picture-preview col-sm-3">
                <label for="input-agent-picture" class="control-label picture-label">Preview</label>
                <div v-if="profilePictureUrl" class="profile-picture-preview-circle">
                  <img id="picture-preview" v-bind:src="profilePictureUrl" alt="Profile picture" />
                </div>
                <div v-else class="circle"></div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Property transaction</legend>
            <div class="form-group"
              v-bind:class="{ 'has-error': agentReviewErrors['transaction-date'] }">
              <label for="input-transaction-date" class="control-label">Transaction date (approximate)</label>
              <div class="row">
                <div class="col-sm-6">
                  <el-date-picker type="date" placeholder="Pick a date" format="dd/MM/yyyy"
                    v-bind:picker-options="datePickerOptions" v-model="inputDate">
                  </el-date-picker>
                </div>
              </div>
              <div v-if="agentReviewErrors['transaction-date']" class="has-error">
                <span class="help-block">
                {{ agentReviewErrors['transaction-date'] }}
                </span>
              </div>
            </div>
            <div class="form-group" 
              v-bind:class="{ 'has-error': agentReviewErrors['transaction-service-type'] }">
              <label class="control-label">Transaction type</label>
              <div class="radio">
                <label>
                <input type="radio" name="transaction-service-type" 
                  id="transaction-service-type-sell" value="sell"
                  v-model="agentReview['transaction-service-type']">
                I sold a property
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="transaction-service-type" 
                  id="transaction-serivce-type-buy" value="buy"
                  v-model="agentReview['transaction-service-type']">
                I bought a property
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="transaction-service-type" 
                  id="transaction-service-type-rent-out" value="rent-out" 
                  v-model="agentReview['transaction-service-type']">
                I rented out a property
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="transaction-service-type" 
                  id="transaction-service-type-rent" value="rent"
                  v-model="agentReview['transaction-service-type']">
                I rented a property
                </label>
              </div>
              <span v-if="agentReviewErrors['transaction-service-type']" class="help-block">
              {{ agentReviewErrors['transaction-service-type'] }}
              </span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': agentReviewErrors['property-type'] }">
              <label class="control-label">Property type</label>
              <div class="radio">
                <label>
                <input type="radio" name="property-type" id="property-type-hdb" value="hdb"
                  v-model="agentReview['property-type']">
                HDB
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="property-type" id="property-type-condo" value="condo"
                  v-model="agentReview['property-type']">
                Condominium
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="property-type" id="property-type-landed-house" 
                  value="landed-house" v-model="agentReview['property-type']">
                Landed house
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="property-type" id="property-type-other" value="other"
                  v-model="agentReview['property-type']">
                Other
                </label>
              </div>
              <span v-if="agentReviewErrors['property-type']" class="help-block">
              {{ agentReviewErrors['property-type'] }}
              </span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': agentReviewErrors['property-region'] }">
              <label class="control-label">Region</label>
              <div class="radio">
                <label>
                <input type="radio" name="property-region" id="property-region-central"
                  value="central" v-model="agentReview['property-region']">
                Central
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="property-region" id="property-region-west" value="west" 
                  v-model="agentReview['property-region']">
                West
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="property-region" id="property-region-east" value="east"
                  v-model="agentReview['property-region']">
                East
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="property-region" id="property-region-north" value="north"
                  v-model="agentReview['property-region']">
                North
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="property-region" id="property-region-north-east" 
                  value="north-east" v-model="agentReview['property-region']">
                North-East
                </label>
              </div>
              <span v-if="agentReviewErrors['property-region']" class="help-block">
              {{ agentReviewErrors['property-region'] }}
              </span>
            </div>
            <div class="form-group" 
              v-bind:class="{ 'has-error': agentReviewErrors['property-transaction-price'] }">
              <label for="input-property-transaction-price" class="control-label">Property price</label>
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon">$ or $/month</span>
                    <input type="number" class="form-control" id="input-property-transaction-price" 
                      placeholder="100000" name="property-transaction-price"
                      v-model="agentReview['property-transaction-price']">
                  </div>
                </div>
              </div>
              <span v-if="agentReviewErrors['property-transaction-price']" class="help-block">
              {{ agentReviewErrors['property-transaction-price'] }}
              </span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': agentReviewErrors['time-to-transact'] }">
              <label for="input-time-to-transact" class="control-label">
              Time to transact (buy, sell, rent out or rent)
              </label>
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group">
                    <input type="number" class="form-control" id="input-time-to-transact" 
                      placeholder="100" name="time-to-transact" 
                      v-model="agentReview['time-to-transact']">
                    <span class="input-group-addon">days</span>
                  </div>
                </div>
              </div>
              <span v-if="agentReviewErrors['time-to-transact']" class="help-block">
              {{ agentReviewErrors['time-to-transact'] }}
              </span>
            </div>
          </fieldset>
          <div class="form-group">
            <button type="submit" class="button-primary"  v-bind:disabled="isButtonDisabled" 
              v-on:click="saveAgentReview">Next</button>
          </div>
        </div>
      </div>
    </div>
    <!-- review-profile --> 
    <!-- footer-view -->
    <footer-view />
    <!-- footer-view -->
  </div>
</template>

<script>
import AddReviewLeftBarView from '~/components/agent/review/AddReviewLeftBarView.vue';
import FooterView from '~/components/FooterView.vue';
import NavigationBarView from '~/components/NavigationBarView.vue';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Components
  components: {
    AddReviewLeftBarView,
    FooterView,
    NavigationBarView
  },

  // Data
  data: function() {
    return {
      agent: undefined,
      agentReview: {},
      agentReviewErrors: {},
      axiosAirlisting: getAxiosAirlisting(this.$router),
      datePickerOptions: {
        disabledDate: function(date) { return date >= new Date(); },
        firstDayOfWeek: 1
      },
      inputDate: undefined,
      isButtonDisabled: false,
      localPicture: undefined,
      localPictureFile: undefined,
      localPictureFileName: undefined,
      localPictureImage: undefined,
      agentReviewId: this.$route.query.id,
      secret: this.$route.query.hash,
      username: this.$route.params.username.replace('-', '_')
    }
  },

  // Computed data
  computed: {
    // Return the profile picture
    profilePictureUrl: function() {
      // Return the local picture if one has been uploaded
      if (undefined !== this.localPicture)
        return this.localPicture;

      // Return the picture url of the reviewer
      return this.agentReview['reviewer-picture-url'];
    }
  },

  // Retrieve the agent and the agent review
  created: function() {
    // Retrieve the agent
    this.retrieveAgent();

    // Retrieve the agent review
    if (undefined !== this.agentReviewId)
      this.retrieveAgentReview();
  },

  // Methods
  methods: {
    // Retrieve the agent
    retrieveAgent: function() {
      // Retrieve the agent
      var self = this;
      this.axiosAirlisting.get('/agent?username=' + this.username.replace('_', '-'))
        .then(function(response) {
          self.agent = response.data[0];
          if (undefined === self.agentReview['id']) {
            self.agentReview['username'] = self.agent['username'];
            self.agentReview['auth0-user-id'] = self.agent['auth0-user-id'];
          }
        })
        .catch(function(error) {
          captureException(error);
        });
    },

    // Retrieve the agent revoew
    retrieveAgentReview: function() {
      // Retrieve the agent revivew
      var self = this;
      this.axiosAirlisting.get('/agentReview/' + this.agentReviewId + '?secret=' + this.secret)
        .then(function(response) {
          self.agentReview = response.data;
          if ((undefined !== self.agentReview['transaction-date']) &&
            (null !== self.agentReview['transaction-date']) && new Date(self.agentReview['transaction-date']))
            self.inputDate = new Date(self.agentReview['transaction-date']);
        })
        .catch(function(error) {
          // Log the error
          if ((undefined === error.response) || (404 !== error.response.status))
            captureException(error);
        });
    },

    // Update the profile picture based on the file,
    onProfilePictureChange: function(event) {
      // Retrieve the files
      var files = event.target.files || event.dataTransfer.files;
      if (!files.length)
        return;

      // Set the file name
      var self = this;
      var reader = new FileReader();
      reader.onload = function(e) {
        self.localPicture = e.target.result;
        self.localPictureFile = files[0];
        self.localPictureFileName = files[0].name;
        self.localPictureImage = document.createElement("img");
        self.localPictureImage.src = e.target.result;
      };

      // Read the image file as a data URL
      reader.readAsDataURL(files[0]);
    },

    // Validate a number
    getNumberValidationMessage: function(name, value, min, max) {
      // Verify that the value exists
      if (undefined === value)
        return "The " + name + " must be defined.";

      // Verify that the value is a number
      if (isNaN(value))
        return "The " + name + " must be a number.";

      // Verify the range of the value
      if ((value < min) || (value > max))
        return "The " + name + " must be between " + min + " and " + max + ".";

      // Return undefined if there is no error
      return undefined;
    },

    // Validate the agent review values
    validateInputAgentReview: function() {
      // Initialize the errors
      this.agentReviewErrors = {};

      // Validate the email address
      if ((this.agentReview['reviewer-email-address'] === undefined) ||
        (this.agentReview['reviewer-email-address'] === null) ||
        (this.agentReview['reviewer-email-address'].trim() === ''))
        this.agentReviewErrors['reviewer-email-address'] = "The email address cannot be empty.";

      // Validate the first name
      if ((this.agentReview['reviewer-first-name'] === undefined) ||
        (this.agentReview['reviewer-first-name'] === null) ||
        (this.agentReview['reviewer-first-name'].trim() === ''))
        this.agentReviewErrors['reviewer-first-name'] = "The first name cannot be empty.";

      // Validate the profile picture
      if (undefined !== this.localPictureImage) {
        var width = this.localPictureImage.naturalWidth || this.localPictureImage.width;
        var height = this.localPictureImage.naturalHeight || this.localPictureImage.height;
        if ((width < 200) || (height < 200))
          this.agentReviewErrors['reviewer-picture-url'] = "The width and the height of the image must be" +
          " at least 200 pixels. Please upload a different image.";
      }

      // Update the transaction date
      if (undefined !== this.inputDate)
        this.agentReview['transaction-date'] = this.inputDate.getFullYear() +
          (this.inputDate.getMonth() < 9 ? '-0' : '-') + (this.inputDate.getMonth() + 1) +
          (this.inputDate.getDay() < 10 ? '-0' : '-') + this.inputDate.getDay();

      // Validate the transaction date
      if ((this.agentReview['transaction-date'] === undefined) ||
        (this.agentReview['transaction-date'] === null))
        this.agentReviewErrors['transaction-date'] = "Please select the transaction date.";

      // Validate the transaction type
      if ((this.agentReview['transaction-service-type'] === undefined) ||
        (this.agentReview['transaction-service-type'] === null))
        this.agentReviewErrors['transaction-service-type'] = "Please select the transaction type.";

      // Validate the property type
      if ((this.agentReview['property-type'] === undefined) ||
        (this.agentReview['property-type'] === null))
        this.agentReviewErrors['property-type'] = "Please select the property type.";

      // Validate the region
      if ((this.agentReview['property-region'] === undefined) ||
        (this.agentReview['property-region'] === null))
        this.agentReviewErrors['property-region'] = "Please select the region of the property.";

      // Validate the property price
      this.agentReviewErrors['property-transaction-price'] = this.getNumberValidationMessage(
        "property price",
        this.agentReview['property-transaction-price'],
        100,
        99999999);

      // Validate the time to transact
      this.agentReviewErrors['time-to-transact'] = this.getNumberValidationMessage(
        "time to transact",
        this.agentReview['time-to-transact'],
        1,
        9999);

      // Check if there is one error message
      var isValid = true;
      for (var key in this.agentReviewErrors) {
        if (this.agentReviewErrors.hasOwnProperty(key) && this.agentReviewErrors[key] !== undefined)
          isValid = false;
      }

      // Return the isValid flag
      return isValid;
    },

    // Save the profile picture
    saveProfilePicture: function() {
      // Check that we have a local picture
      if (undefined === this.localPicture) {
        this.goToReviewRatingsPage();
        return;
      }

      // Save the profile picture
      var self = this;
      var formData = new FormData();
      formData.append("image", this.localPictureFile, this.localPictureFileName);
      this.axiosAirlisting.post(
        '/agentReview/' + this.agentReview['id'] + '/uploadProfilePicture?secret=' + this.secret,
        formData)
        .then(function(postResponse) {
          self.agentReview = postResponse.data;
          self.localPicture = undefined;
          self.localPictureFile = undefined;
          self.localPictureFileName = undefined;
          self.localPictureImage = undefined;
          self.goToReviewRatingsPage();
        })
        .catch(function(postError) {
          captureException(postError);
        });
    },

    // Go to the ratings page of the review
    goToReviewRatingsPage: function(response) {
      // Go to the ratings page
      var addReviewRatingsPagePath = '/a/' + this.username.replace('_', '-') + '/addReview/ratings';
      this.$router.push({
        path: addReviewRatingsPagePath,
        query: {
          hash: this.secret,
          id: this.agentReview['id']
        }
      });
    },

    // Save the agent review
    saveAgentReview: function() {
      // Validate the values
      if (!this.validateInputAgentReview())
        return;

      // Save the agent review
      this.isButtonDisabled = true;
      var self = this;
      if (undefined === this.agentReview['id'])
        this.axiosAirlisting.post('/agentReview?secret=' + this.secret, this.agentReview)
          .then(function(postResponse) {
            // Save the profile picture
            self.agentReview = postResponse.data['agent-review'];
            self.secret = postResponse.data.secret;
            self.saveProfilePicture();
          })
          .catch(function(postError) {
            captureException(postError);
          });
      else
        this.axiosAirlisting.put(
          '/agentReview/' + this.agentReview['id'] + '?secret=' + this.secret,
          this.agentReview)
          .then(function(putResponse) {
            // Save the profile picture
            self.agentReview = putResponse.data;
            self.saveProfilePicture();
          })
          .catch(function(putError) {
            captureException(putError);
          });
    }
  }
}
</script>