<template>
  <div>
    <!-- navigation-bar-view -->
    <navigation-bar-view />
    <!-- navigation-bar-view -->
    <!-- .review-ratings -->
    <div v-if="agent" class="review review-ratings">
      <div class="container">
        <div class="col-sm-3">
          <add-review-left-bar-view v-bind:username="username" v-bind:firstName="agent['first-name']"
            v-bind:pictureUrl="agent['picture-url']">
          </add-review-left-bar-view>
        </div>
        <div v-if="agentReview" class="col-sm-6">
          <fieldset>
            <legend>Review</legend>
            <div class="form-group"
              v-bind:class="{ 'has-error': agentReviewErrors['overall-experience-description'] }">
              <label for="input-overall-experience" class="control-label">Overall experience</label>
              <textarea class="form-control" rows="5" id="input-overall-experience" 
                v-bind:placeholder="overallExperiencePlaceHolder" name="overall-experience" 
                v-model="agentReview['overall-experience-description']">
              </textarea>
              <span v-if="agentReviewErrors['overall-experience-description']" class="help-block">
              {{ agentReviewErrors['overall-experience-description'] }}
              </span>
            </div>
          </fieldset>
          <fieldset>
            <legend>Ratings</legend>
            <div class="form-group"
              v-bind:class="{ 'has-error': agentReviewErrors['overall-experience-rating'] }">
              <label class="control-label">Overall experience</label>
              <br />
              <input-star-rating-view name="overall-experience-rating" 
                v-bind:ratingValue="agentReview['overall-experience-rating']"
                v-on:updateRatingValue="updateAgentReview('overall-experience-rating', $event)">
              </input-star-rating-view>
              <span v-if="agentReviewErrors['overall-experience-rating']" class="help-block">
              {{ agentReviewErrors['overall-experience-rating'] }}
              </span>
            </div>
            <div class="form-group"
              v-bind:class="{ 'has-error': agentReviewErrors['negotiation-skills-rating'] }">
              <label class="control-label">Negotation skills</label>
              <p class="control-label">
                How much did {{ agent['first-name'] }} help during the negotiations?
              </p>
              <input-star-rating-view name="negotiation-skills-rating" 
                v-bind:ratingValue="agentReview['negotiation-skills-rating']"
                v-on:updateRatingValue="updateAgentReview('negotiation-skills-rating', $event)">
              </input-star-rating-view>
              <span v-if="agentReviewErrors['negotiation-skills-rating']" class="help-block">
              {{ agentReviewErrors['negotiation-skills-rating'] }}
              </span>
            </div>
            <div class="form-group"
              v-bind:class="{ 'has-error': agentReviewErrors['local-knowledge-rating'] }">
              <label class="control-label">Local knowledge</label>
              <p class="control-label">
                How good was {{ agent['first-name'] }} knowledge of the recent transactions of 
                similar properties in the same region?
              </p>
              <input-star-rating-view name="local-knowledge-rating" 
                v-bind:ratingValue="agentReview['local-knowledge-rating']"
                v-on:updateRatingValue="updateAgentReview('local-knowledge-rating', $event)">
              </input-star-rating-view>
              <span v-if="agentReviewErrors['local-knowledge-rating']" class="help-block">
              {{ agentReviewErrors['local-knowledge-rating'] }}
              </span>
            </div>
            <div class="form-group"
              v-bind:class="{ 'has-error': agentReviewErrors['relevant-experience-rating'] }">
              <label class="control-label">Relevant experience</label>
              <p class="control-label">
                Did {{ agent['first-name' ]}} have experience with the region and the type of
                property of your transaction?
              </p>
              <input-star-rating-view name="relevant-experience-rating" 
                v-bind:ratingValue="agentReview['relevant-experience-rating']"
                v-on:updateRatingValue="updateAgentReview('relevant-experience-rating', $event)">
              </input-star-rating-view>
              <span v-if="agentReviewErrors['relevant-experience-rating']" class="help-block">
              {{ agentReviewErrors['relevant-experience-rating'] }}
              </span>
            </div>
            <div class="form-group"
              v-bind:class="{ 'has-error': agentReviewErrors['communication-rating'] }">
              <label class="control-label">Communication</label>
              <p class="control-label">
                Were there any misunderstandings or was the communication clear?
              </p>
              <input-star-rating-view name="communication-rating" 
                v-bind:ratingValue="agentReview['communication-rating']"
                v-on:updateRatingValue="updateAgentReview('communication-rating', $event)">
              </input-star-rating-view>
              <span v-if="agentReviewErrors['communication-rating']" class="help-block">
              {{ agentReviewErrors['communication-rating'] }}
              </span>
            </div>
            <div class="form-group"
              v-bind:class="{ 'has-error': agentReviewErrors['availability-rating'] }">
              <label class="control-label">Availability</label>
              <p class="control-label">
                How much did you have to wait to meet or discuss with {{ agent['first-name' ]}}?
              </p>
              <input-star-rating-view name="availability-rating" 
                v-bind:ratingValue="agentReview['availability-rating']"
                v-on:updateRatingValue="updateAgentReview('availability-rating', $event)">
              </input-star-rating-view>
              <span v-if="agentReviewErrors['availability-rating']" class="help-block">
              {{ agentReviewErrors['availability-rating'] }}
              </span>
            </div>
            <div class="form-group"
              v-bind:class="{ 'has-error': agentReviewErrors['friendliness-rating'] }">
              <label class="control-label">Friendliness</label>
              <p class="control-label">
                How friendly were your interactions with {{ agent['first-name'] }}?
              </p>
              <input-star-rating-view name="friendliness-rating" 
                v-bind:ratingValue="agentReview['friendliness-rating']"
                v-on:updateRatingValue="updateAgentReview('friendliness-rating', $event)">
              </input-star-rating-view>
              <span v-if="agentReviewErrors['friendliness-rating']" class="help-block">
              {{ agentReviewErrors['friendliness-rating'] }}
              </span>
            </div>
          </fieldset>
          <div class="form-group">
            <button type="submit" class="button-primary" v-bind:disabled="isButtonDisabled" 
              v-on:click="saveAgentReview">Submit</button>
            <button type="button" class="button-default" v-on:click="goToReviewProfilePage">Previous</button>
          </div>
        </div>
      </div>
    </div>
    <!-- .review-ratings -->
    <!-- footer-view -->
    <footer-view />
    <!-- footer-view -->
  </div>
</template>

<script>
import AddReviewLeftBarView from '~/components/agent/review/AddReviewLeftBarView.vue';
import FooterView from '~/components/FooterView.vue';
import InputStarRatingView from '~/components/InputStarRatingView.vue';
import NavigationBarView from '~/components/NavigationBarView.vue';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Components
  components: {
    AddReviewLeftBarView,
    FooterView,
    InputStarRatingView,
    NavigationBarView
  },

  // Data
  data: function() {
    return {
      agent: undefined,
      agentReview: undefined,
      agentReviewErrors: {},
      agentReviewId: this.$route.query.id,
      axiosAirlisting: getAxiosAirlisting(this.$router),
      isButtonDisabled: false,
      secret: this.$route.query.hash,
      username: this.$route.params.username.replace('-', '_')
    }
  },

  // Compute date
  computed: {
    overallExperiencePlaceHolder: function() {
      return "How were " + this.agent['first-name'] + "'s real estate agent services?";
    }
  },

  // Retrieve the agent
  created: function() {
    // Retrieve the agent and the agent review
    this.retrieveAgent();
    this.retrieveAgentReview();
  },

  // Methods
  methods: {
    // Retrieve the agent
    retrieveAgent: function() {
      // Retrieve the agent
      var self = this;
      this.axiosAirlisting.get('/agent?username=' + this.username.replace('_', '-'))
        .then(function(response) {
          self.agent = response.data[0];
        })
        .catch(function(error) {
          captureException(error);
        });
    },

    // Retrieve the agent review
    retrieveAgentReview: function() {
      // Retrieve the agent
      var self = this;
      this.axiosAirlisting.get('/agentReview/' + this.agentReviewId)
        .then(function(response) {
          self.agentReview = response.data;
        })
        .catch(function(error) {
          captureException(error);
        });
    },

    // Update the agent review
    updateAgentReview: function(propertyName, propertyValue) {
      this.agentReview[propertyName] = propertyValue;
    },

    // Go to the review profile page
    goToReviewProfilePage: function() {
      // Go to the ratings path
      var addReviewRatingsPagePath = '/a/' + this.username.replace('_', '-') + '/addReview/profile';
      this.$router.push({
        path: addReviewRatingsPagePath,
        query: {
          hash: this.secret,
          id: this.agentReview['id']
        }
      });
    },

    // Validate the agent review values
    validateInputAgentReview: function() {
      // Initialize the errors
      this.agentReviewErrors = {};

      // Validate the overall experience description
      if ((undefined === this.agentReview['overall-experience-description']) ||
        (null === this.agentReview['overall-experience-description']) ||
        (this.agentReview['overall-experience-description'].length < 50))
        this.agentReviewErrors['overall-experience-description'] = "The review must be at least " +
        "50 characters long.";

      // Validate the overall experience rating
      if ((undefined === this.agentReview['overall-experience-rating']) ||
        (null === this.agentReview['overall-experience-rating']) ||
        (0 === this.agentReview['overall-experience-rating']))
        this.agentReviewErrors['overall-experience-rating'] = "Please rate the overall experience.";

      // Validate the negotiation skills rating
      if ((undefined === this.agentReview['negotiation-skills-rating']) ||
        (null === this.agentReview['negotiation-skills-rating']) ||
        (0 === this.agentReview['negotiation-skills-rating']))
        this.agentReviewErrors['negotiation-skills-rating'] = "Please rate the negotation skills.";

      // Validate the local knowledge rating
      if ((undefined === this.agentReview['local-knowledge-rating']) ||
        (null === this.agentReview['local-knowledge-rating']) ||
        (0 === this.agentReview['local-knowledge-rating']))
        this.agentReviewErrors['local-knowledge-rating'] = "Please rate the local knowledge.";

      // Validate the relevant experience rating
      if ((undefined === this.agentReview['relevant-experience-rating']) ||
        (null === this.agentReview['relevant-experience-rating']) ||
        (0 === this.agentReview['relevant-experience-rating']))
        this.agentReviewErrors['relevant-experience-rating'] = "Please rate the relevant experience.";

      // Validate the communication rating
      if ((undefined === this.agentReview['communication-rating']) ||
        (null === this.agentReview['communication-rating']) ||
        (0 === this.agentReview['communication-rating']))
        this.agentReviewErrors['communication-rating'] = "Please rate the communication.";

      // Validate the availability rating
      if ((undefined === this.agentReview['availability-rating']) ||
        (null === this.agentReview['availability-rating']) ||
        (0 === this.agentReview['availability-rating']))
        this.agentReviewErrors['availability-rating'] = "Please rate the availability.";

      // Validate the friendliness rating
      if ((undefined === this.agentReview['friendliness-rating']) ||
        (null === this.agentReview['friendliness-rating']) ||
        (0 === this.agentReview['friendliness-rating']))
        this.agentReviewErrors['friendliness-rating'] = "Please rate the friendliness.";

      // Check if there is one error message
      var isValid = true;
      for (var key in this.agentReviewErrors) {
        if (this.agentReviewErrors.hasOwnProperty(key) && this.agentReviewErrors[key] !== undefined)
          isValid = false;
      }

      // Return the isValid flag
      return isValid;
    },

    // Save the agent review
    saveAgentReview: function() {
      // Validate the values
      if (!this.validateInputAgentReview())
        return;

      // Save the agent review
      this.isButtonDisabled = true;
      var self = this;
      this.axiosAirlisting.put('/agentReview/' + this.agentReview['id'] + '/?secret=' + this.secret, this.agentReview)
        .then(function(putResponse) {
          // Go to the thank you page
          self.agentReview = putResponse.data;
          var addReviewThankYouPagePath = '/a/' + self.username.replace('_', '-') + '/addReview/thankYou';
          self.$router.push({
            path: addReviewThankYouPagePath,
            query: {
              hash: self.secret,
              id: self.agentReview['id']
            }
          });
        })
        .catch(function(putError) {
          captureException(putError);
        });
    }
  }
}
</script>