<template>
  <div>
    <!-- navigation-bar-view -->
    <navigation-bar-view />
    <!-- navigation-bar-view -->
    <!-- .review-->
    <div v-if="agent" class="review">
      <div class="container">
        <div class="col-sm-3">
          <add-review-left-bar-view v-bind:username="username" v-bind:firstName="agent['first-name']"
            v-bind:pictureUrl="agent['picture-url']">
          </add-review-left-bar-view>
        </div>
        <div class="col-sm-6">
          <h3>Thank you for writing a review for {{ agent['first-name'] }}!</h3>
          <p>
            Your review will help other home owners and home seekers decide whether {{ agent['first-name']}} 
            is the right real estate agent for their needs!
          </p>
          <p>
            You can now see your review on 
            <router-link v-bind:to="profilePagePath">{{ agent['first-name'] }}’s profile</router-link>
            !
          </p>
          <p>
            If you want to modify your review, you can always go to the following page to do so:
            <router-link v-bind:to="reviewProfilePageRelativePath">
              {{ reviewProfilePathAbsolutePath }}
            </router-link>
          </p>
          <p>
            Thank you again for your contribution!
          </p>
        </div>
      </div>
    </div>
    <!-- .review -->
    <!-- footer-view -->
    <footer-view />
    <!-- footer-view -->
  </div>
</template>

<script>
import AddReviewLeftBarView from '~/components/agent/review/AddReviewLeftBarView.vue';
import FooterView from '~/components/FooterView.vue';
import NavigationBarView from '~/components/NavigationBarView.vue';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Components
  components: {
    AddReviewLeftBarView,
    FooterView,
    NavigationBarView
  },

  // Data
  data: function() {
    return {
      agent: undefined,
      agentReviewId: this.$route.query.id,
      axiosAirlisting: getAxiosAirlisting(this.$router),
      secret: this.$route.query.hash,
      username: this.$route.params.username.replace('-', '_')
    }
  },

  // Computed
  computed: {
    // Agent profile page
    profilePagePath: function() {
      return "/a/" + this.username.replace('_', '-');
    },

    // Reviewer profile relative path
    reviewProfilePageRelativePath: function() {
      return "/a/" + this.username.replace('_', '-') + "/addReview/profile?id=" + this.agentReviewId +
        "&hash=" + this.secret;
    },

    // Reviewer profile absolute path
    reviewProfilePathAbsolutePath: function() {
      return window.location.protocol + '//' + window.location.host + this.reviewProfilePageRelativePath;
    }
  },

  // Retrieve the agent
  created: function() {
    // Retrieve the agent
    this.retrieveAgent();
  },

  // Methods
  methods: {
    // Retrieve the agent
    retrieveAgent: function() {
      // Retrieve the agent
      var self = this;
      this.axiosAirlisting.get('/agent?username=' + this.username.replace('_', '-'))
        .then(function(response) {
          self.agent = response.data[0];
        })
        .catch(function(error) {
          captureException(error);
        });
    }
  }
}
</script>