<template>
  <div v-if="auth0UserId">
    <!-- agent-view -->
    <agent-view v-bind:username="username" v-bind:auth0UserId="auth0UserId" v-bind:isReadOnly="true"
      v-bind:service="service">
    </agent-view><!-- agent-view -->

     <!-- agent-introduction-view -->
    <agent-introduction-view v-bind:auth0UserId="auth0UserId" v-bind:isReadOnly="true">
    </agent-introduction-view><!-- agent-introduction-view -->

     <!-- agent-award-view -->
    <agent-award-view v-bind:auth0UserId="auth0UserId" v-bind:isReadOnly="true">
    </agent-award-view><!-- agent-award-view -->

    <!-- agent-language-view -->
    <agent-language-view v-bind:auth0UserId="auth0UserId" v-bind:isReadOnly="true">
    </agent-language-view><!-- agent-language-view -->

    <!-- agent-review-view -->
    <agent-review-view v-bind:auth0UserId="auth0UserId" v-bind:isReadOnly="true">
    </agent-review-view><!-- agent-review-view -->
    
    <!-- agent-contact-view -->
    <agent-contact-view v-bind:auth0UserId="auth0UserId">
    </agent-contact-view><!-- agent-contact-view -->

    <!-- footer-view -->
    <footer-view /><!-- footer-view -->
  </div>
</template>

<script>
import AgentAwardView from '~/components/agent/profile/AgentAwardView.vue';
import AgentContactView from '~/components/agent/profile/AgentContactView.vue';
import AgentIntroductionView from '~/components/agent/profile/AgentIntroductionView.vue';
import AgentLanguageView from '~/components/agent/profile/AgentLanguageView.vue';
import AgentReviewView from '~/components/agent/profile/AgentReviewView.vue';
import AgentView from '~/components/agent/profile/AgentView.vue';
import FooterView from '~/components/FooterView.vue';
import { captureException } from '~/plugins/error-logger';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';

export default {
  // Components
  components: {
    AgentAwardView,
    AgentContactView,
    AgentIntroductionView,
    AgentLanguageView,
    AgentReviewView,
    AgentView,
    FooterView
  },

  // Computed data
  computed: {
    // Return the service type
    service: function() {
      // Parse the service type index
      var serviceTypeIndex = parseInt(this.$route.query.service);

      // Return the service type index
      return isNaN(serviceTypeIndex) ? 0 : serviceTypeIndex;
    }
  },

  // Data
  data: function() {
    return {
      auth0UserId: undefined,
      axiosAirlisting: getAxiosAirlisting(this.$router),
      username: this.$route.params.username.replace('-', '_')
    };
  },

  // Retrieve the agent Auth0 user id
  created: function() {
    // Retrieve the agent Auth0 user id
    this.retrieveAgentAuth0UserId();
  },

  // Methods
  methods: {
    // Retrieve the agent Auth0 user id
    retrieveAgentAuth0UserId: function() {
      // Retrieve the agent Auth0 user id
      var self = this;
      this.axiosAirlisting.get('/agent?username=' + this.username)
        .then(function(response) {
          self.auth0UserId = response.data[0]['auth0-user-id'];
        })
        .catch(function(error) {
          captureException(error);
        });
    }
  }
}
</script>
