<template>
  <div>
    <navigation-bar-view />
    <agent-search-request-view v-bind:hasNoFoundAgent="false" />
    <footer-view />
  </div>
</template>

<script>
import NavigationBarView from '~/components/NavigationBarView.vue';
import AgentSearchRequestView from '~/components/search/AgentSearchRequestView.vue';
import FooterView from '~/components/FooterView.vue';

export default {
  // Components
  components: {
    NavigationBarView, AgentSearchRequestView, FooterView
  }
}
</script>