<template>
  <div>
    <navigation-bar-view />
    <div class="login-header">
      <p class="text-center">
        Create your real estate agent landing page 
        <br />and appear in our search engine today.
        <br /><br />It's 100% free and it only takes a few minutes.
      </p>
    </div>
    <div id="login-container">
    </div>
    <footer-view />
  </div>
</template>

<script>
import NavigationBarView from '~/components/NavigationBarView.vue';
import FooterView from '~/components/FooterView.vue';
import { captureException } from '~/plugins/error-logger';
import customLocalStorage from '~/plugins/custom-local-storage';
import Auth0Lock from 'auth0-lock';

export default {
  // Components
  components: {
    NavigationBarView,
    FooterView
  },

  // Data
  data: function () {
    return {
      authenticated: false,
      lock: new Auth0Lock(
        'FmKIpiLOrn2y1wVGiPbEpn2bKECnZg1q',
        'airlisting.auth0.com', {
          additionalSignUpFields: [{
            name: "first_name",
            placeholder: "your first name",
            validator: function(field) {
              return {
                valid: field.length >= 3 && field.length <= 20,
                hint: "Must have between 3 and 20 characters"
              };
            }
          }, {
            name: "last_name",
            placeholder: "your last name",
            validator: function(field) {
              return {
                valid: field.length >= 3 && field.length <= 20,
                hint: "Must have between 3 and 20 characters"
              };
            }
          }, {
            name: "cea_license_number",
            placeholder: "your CEA license number",
            prefill: this.$route.query.licenseNumber,
            validator: function(field) {
              return {
                valid: new RegExp("^(P|R)[0-9]{6}[A-Z]$", "i").test(field),
                hint: "We only accept salespersons registered by the Council for Estate Agencies. Your license number must start with a P or an R."
              }
            }
          }],
          auth: {
            redirect: false,
            sso: false
          },
          container: 'login-container',
          initialScreen: (undefined === this.$route.query.licenseNumber) ? 'login' : 'signUp',
          languageDictionary: {
            title: "",
            signUpTerms: "I agree to the <a href='/terms.html'>terms of use</a> and <a href='/privacy.html'>privacy policy</a>."
          },
          mustAcceptTerms: true,
          prefill: {
            email: this.$route.query.email
          },
          theme: {
            logo: ''
          },
          usernameStyle: 'email'
        })
    };
  },

  // Set the authentication event handler
  mounted: function() {
    // Set the authenticated variable
    this.authenticated = !!customLocalStorage.getItem('id_token');

    // Redirect to the agent profile page
    if (this.authenticated) {
      this.$router.push('profile');
      return;
    }

    // Show the lock
    this.lock.show();

    // Set the isSignUp flag if the user signs up
    var isSignUp = false;
    this.lock.on('signup submit', function() {
      isSignUp = true;
    });

    // Unset the isSignUp flag it the user logs in
    this.lock.on('signin submit', function() {
      isSignUp = false;
    });

    // Set the authentication event handler
    var self = this;
    this.lock.on('authenticated', function (authResult) {
      // Save the token
      console.log('authenticated');
      customLocalStorage.setItem('id_token', authResult.idToken);

      // Save the profile
      self.lock.getProfile(authResult.idToken, (error, profile) => {
        // Check that there is no error
        if (error) {
          captureException(error);
          return;
        }

        // Save the profile
        customLocalStorage.setItem('profile', JSON.stringify(profile));
        self.authenticated = true;

        // Hide the lock
        self.lock.hide();

        // Set the firstUse url parameter
        var urlParameters;
        if (isSignUp)
          urlParameters = {
            firstUse: true
          };

        // Redirect to the profile page
        self.$router.push({
          path: 'profile',
          query: urlParameters
        });
      });
    });

    // Set the authentication error handler
    this.lock.on('authorization_error', (error) => {
      captureException(error);
    });
  }
};
</script>