<template>
  <div>
    <!-- .header-hero-unit -->
    <div class="header-hero-unit home-hero-unit">
      <div class="dark-filter">
        <navigation-bar-content-view v-bind:isTextWhite="true" />
        <div class="container text-center" id="header-text">
          <p>
            Find a real estate agent<br />
            who can meet your needs.<br />
            It's free.
          </p>
          <a href="/search" class="button-white" id="header-button-agent">Find agents</a>
        </div>
      </div>
    </div>
    <!-- .header-hero-unit -->
    <!-- .description -->
    <div class="description">
      <div class="container text-center">
        <div class="row">
          <h2>How does ZenEstate work?</h2>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="circled-number">1</div>
            <h4>Describe your needs</h4>
            <p>
              Select your filters (type, price, location, timeline) for the property you are planning to buy, sell, rent or rent out.
            </p>
          </div>
          <div class="col-sm-4">
            <div class="circled-number">2</div>
            <h4>Search agents</h4>
            <p>
              We will show you a list of licensed real estate agents whose experience best matches your needs.
            </p>
          </div>
          <div class="col-sm-4">
            <div class="circled-number">3</div>
            <h4>Contact agents</h4>
            <p>
              You can contact your favorite agents and ask for their services. We do not take any commission or hidden fee.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- .description -->
    <!-- .subscribe -->
    <div class="subscribe">
      <div class="subscribe-group">
        <div class="container">
          <div class="row">
            <div v-if="!hasInvited" class="col-sm-6 col-md-4 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Do you know any great real estate agent?</h3>
                  <p>
                    ZenEstate is a free project and you can help other members of ZenEstate community find a great 
                    real estate agent. Do you know any great real estate agent? Invite them!
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 form-group">
                  <input type="text" class="form-control" placeholder="Your name" 
                    name="sender-name" v-model="inputInvitation['sender-name']">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 form-group">
                  <input type="text" class="form-control" placeholder="Agent's email address"
                    name="agent-email-address" v-model="inputInvitation['agent-email-address']">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 form-group text-center">
                  <button type="submit" class="btn btn-default" v-on:click="inviteAgent">Invite</button>
                </div>
              </div>
            </div>
            <div v-else class="col-sm-6 col-md-4 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Thank you for inviting a real estate agent!</h3>
                  <p>
                    An invitation email has been sent to {{ inputInvitation['agent-email-address']}}.
                  </p>
                </div>
              </div>
            </div>
            <div v-if="!hasSubscribed" id="subscribe-form" class="col-sm-6 col-md-4 col-md-offset-2">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Subscribe to get updates</h3>
                </div>
              </div>
              <div id="subscriber-form">
                <div class="row">
                  <div class="col-xs-6 form-group">
                    <input type="text" class="form-control" placeholder="First name" 
                      name="first-name" v-model="inputSubscriber['first-name']">
                  </div>
                  <div class="col-xs-6 form-group">
                    <input type="text" class="form-control" placeholder="Last name" 
                      name="last-name" v-model="inputSubscriber['last-name']">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 form-group">
                    <input type="text" class="form-control" placeholder="Email address"
                      name="email-address" v-model="inputSubscriber['email-address']">
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <label class="radio-inline">
                        <input type="radio" name="type" id="agent-type" value="agent"
                          v-model="inputSubscriber['type']">Property agent
                      </label>
                    </div>
                    <div class="col-xs-6">
                      <label class="radio-inline">
                        <input type="radio" name="type" id="owner-seeker-type" value="owner-seeker" 
                          v-model="inputSubscriber['type']">Property owner/seeker
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 form-group text-center">
                    <button type="submit" class="btn btn-default" v-on:click="addSubscriber">Subscribe</button>
                  </div>
                </div>
              </div>
            </div>
            <div v-else id="subscribe-thank-you" class="col-sm-6 col-md-4 col-md-offset-2">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Thank you for subscribing!</h3>
                  <p>
                    You will now receive our updates!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .subscribe -->
    <!-- footer-view -->
    <footer-view />
    <!-- footer-view -->
  </div>
</template>

<script>
import FooterView from '~/components/FooterView.vue';
import NavigationBarContentView from '~/components/NavigationBarContentView.vue';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';
import axios from 'axios';

export default {
  // Components
  components: {
    FooterView,
    NavigationBarContentView
  },

  // Data
  data: function() {
    return {
      axiosAirlisting: getAxiosAirlisting(this.$router),
      hasSubscribed: false,
      hasInvited: false,
      inputInvitation: {
        'agent-email-address': '',
        'sender-name': ''
      },
      inputSubscriber: {
        'first-name': '',
        'last-name': '',
        'email-address': '',
        'type': "agent"
      }
    }
  },

  // Methods
  methods: {
    // Add a subscriber
    addSubscriber: function () {
      this.axiosAirlisting.post('/subscriber', this.inputSubscriber)
        .catch(function(postError) {
          captureException(postError);
        });
      this.hasSubscribed = true;
    },

    // Invite an agent
    inviteAgent: function () {
      axios.post('https://fkfm91ymsi.execute-api.us-west-2.amazonaws.com/Production/inviteAgent', this.inputInvitation)
        .catch(function (postError) {
          captureException(postError);
        });
      this.hasInvited = true;
    }
  }
}
</script>