<template>
  <div>
    <h4 class="review-title">
      Tell {{ firstName }} what you liked and what could have been better
    </h4>
    <div class="agent-profile-picture">
      <div v-if="pictureUrl" class="agent-profile-picture-circle">
        <img v-bind:src="pictureUrl" alt="Profile picture" v-on:click="goToProfilePage"/>
      </div>
      <div v-else class="circle" v-on:click="goToProfilePage"></div>
    </div>
  </div>
</template>

<script>
export default {
  // Props
  props: ['username', 'firstName', 'pictureUrl'],

  // Methods
  methods: {
    // Go to the profile page
    goToProfilePage: function() {
      var profilePagePath = '/a/' + this.username.replace('_', '-');
      this.$router.push(profilePagePath);
    }
  }
}
</script>